
.sidebar-section{
    display: flex;
    background-color: #f8f9fa;
}
.sidebar{
    height:100vh;
    background-color: #061829;
    width: 90px;
    position: fixed;
}
.sidebar-toggle{
    width: 200px;
}
.sidebar-toggle-icons{
    display: flex;
    align-items: right;
    justify-content: right;
}
.sidebar-toggle-icons svg{
    background-color: #0d6efd;
    color: white;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.sidebar-toggle-icons svg:hover{
    background-color: #4ac27c;
}